{% extends 'base.html' %}

{% block content %}

    <section class="jumbotron text-center bg-light py-5">
        <div class="container">
            <h1 class="display-4">Contact Us</h1>
            <p class="lead">We'd love to hear from you! Reach out with your questions!</p>
        </div>
    </section>

    <section class="container my-5 text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8">
                <h2>Get in Touch</h2>
                <form method="post" class="p-3 shadow-lg bg-white rounded">
                    {% csrf_token %}
                    <label for="{{ form.message.id_for_label }}" class="form-label">Your Message:</label>
                    {{ form.as_p }}
                    <button type="submit" class="mod-btn">Send Message</button>
                </form>
            </div>
        </div>
    </section>    

{% endblock %}