{% extends "base.html" %}

{% block title %}Update Your Profile{% endblock %}

{% block content %}
<h1 class=" text-center">Update Your Profile</h1>
<div class="card mb-4 text-center">
    <div class="card-header">
        <h5>Your Informations</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="mt-3">
                <button type="submit" class="mod-btn">Save Changes</button>
                <a href="{% url 'profile' %}" class="mod-btn">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}