<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Restaurants list</h1>
    {% for restaurant in object_list %}
    <h2>{{restaurant.name}}</h2>
    <p>{{restaurant.description}}</p>
    <p>{{restaurant.address}}</p>
    <p>{{restaurant.phone_number}}</p>
    <p>{{restaurant.created}}</p>
    <p>{{restaurant.capacity}}</p>
    <p>{{restaurant.opening_time}}</p>
    <p>{{restaurant.closing_time}}</p>
    <p>{{restaurant.owner}}</p>
    {% endfor %}
</body>

</html>