
/* Headings */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.content-wrapper {
    text-align: center;
}

/* Buttons */
button ,input{
    width: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;

}

ul {
    list-style: none;
}

label {
    font-weight: 600;
}



