{% extends "base.html" %}

{% block title %}Confirm Cancellation{% endblock %}

{% block content %}
<!-- Delete Form -->
<div class="text-center">
    <h1>Cancel Booking</h1>
    <p>Are you sure you want to delete the booking for <strong>{{ booking.customer_name }}</strong> on {{ booking.booking_date }}?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="mod-btn btn-danger">Confirm Deletion</button>
        <a href="{% url 'booking_list' %}" class="mod-btn">Go Back</a>
    </form>
</div>
{% endblock %}