{% extends "base.html" %}

{% block title %}Update Booking{% endblock %}

{% block content %}
<h2 class="text-center">Update Booking</h2>

{% if form.non_field_errors %}
<div class="alert alert-danger">
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
{% if form.customer_name.errors %}
<div class="alert alert-danger text-center">
    {% for error in form.customer_name.errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endif %}
</div>
<div class="container mt-5 text-center">
    <form method="POST" id="updateBookingForm">
        {% csrf_token %}

        <div class="mb-3">
            <p><strong>Restaurant:</strong> {{ restaurant.name }}</p>
        </div>

        <div class="mb-3">
            <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
            {{ form.customer_name }}
        </div>

        <div class="mb-3">
            <label for="{{ form.booking_date.id_for_label }}">{{ form.booking_date.label }}</label>
            {{ form.booking_date }}
        </div>

        <div class="mb-3">
            <label for="{{ form.start_time.id_for_label }}">{{ form.start_time.label }}</label>
            {{ form.start_time }}
        </div>

        <div class="mb-3">
            <label for="{{ form.end_time.id_for_label }}">{{ form.end_time.label }}</label>
            {{ form.end_time }}
        </div>

        <div class="row mb-3 tab-selec">
            <div class="col-md-6">
                <label for="id_tables_0">Tables</label>
                <div>
                    {{ form.tables }}
                </div>
            </div>
            <div class="col-md-6">
                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                {{ form.message }}
            </div>
        </div>    
        <button type="submit" class="mod-btn">Update Booking</button>
    </form>
</div>
<div class="text-center mt-4 btn-container-det">
    <a href="{% url 'booking_list' %}" class="mod-btn">Back to Booking List</a>
</div>


{% endblock %}