{% extends 'base.html' %}
{% load static %}


<!-- Index block content-->

{% block content %}
    <!-- Hero section -->
    <section class="jumbotron text-center bg-light py-5">
        <div class="container">
            <h1 class="display-4">Welcome to NestBite</h1>
            <p class="lead">Discover the best restaurants in town!</p>
        </div>
    </section>

    <!-- Features section -->
    <section class="container my-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="" class="rounded-circle mb-3" alt="">
                <h3>Cozy Ambiance</h3>
                <p>Enjoy a cozy atmosphere at our hand-picked restaurants for every occasion.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="" class="rounded-circle mb-3" alt="">
                <h3>Delicious!!</h3>
                <p>A wide variety of delicious dishes made with fresh ingredients by our talents.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="" class="rounded-circle mb-3" alt="">
                <h3>Easy Booking</h3>
                <p>With NestBite, you can easily book a table at any of our restaurants in just a few clicks!</p>
            </div>
        </div>
    </section>

    <section class="text-center bg-dark text-white py-5">
        <h2>Ready to Book Your Table?</h2>
        <p>Make a reservation at one of our restaurants today!</p>
    </section>
{% endblock %}