{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ restaurant.name }}</h1>
    <p><strong>Address:</strong> {{ restaurant.address }}</p>
    <p><strong>Phone:</strong> {{ restaurant.phone_number }}</p>
    <p><strong>Capacity:</strong> {{ restaurant.capacity }}</p>
    <p><strong>Opening Hours:</strong> {{ restaurant.opening_time }} - {{ restaurant.closing_time }}</p>

    <h2>Images</h2>
    <div class="image-gallery">
        <!-- need to set this when styling 
        {% for image in restaurant.images.all %}
            <div class="image-item">
                <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid" /> 
                <p>{{ image.description }}</p>
            </div>
        {% empty %}
            <p>No images available for this restaurant.</p>
        {% endfor %}-->
    </div>


    {% if user.is_authenticated %}
    <a href="{% url 'create_booking' restaurant.id %}" class="btn btn-primary">Make a Reservation</a>
    {% endif %}


    <a href="{% url 'restaurant_list' %}" class="btn btn-secondary">Back to the restaurants</a>
{% endblock %}